<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" th:href="@{/ main.css}"
      href="../../css/main.css" />
<body>


<h1>  Please review details below to confirm your updates !</h1>

</div>
<table>
    <tr>
        <th>LoanID</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    <tr th:each="Loan: ${loans}">
        <td th:text= $"{loan.id}">1</td>
        <td th:text="${loan.description}">n</td>
        <td th:text="${loan.Status}"></td>
    </tr>
</table>
</div>


</body>

</html>